{% extends 'base.html.twig' %}


{% block title %}Série
{% endblock %}


{% block body %}
	 {{ category.name }}
	 {% for program in programs %}
	 <div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1>{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
		</div>
	</div>
	{% endfor %}
	<a href="{{ path('program_index') }}">
		Voir à la liste des serie
	</a>
{% endblock %}