{% extends 'base.html.twig' %}


{% block title %}All programs
{% endblock %}


{% block body %}

	<div class="media">
		<div>

			<h2>{{ season.id }}
				- Catégorie :
				{{ season.program.title }}</h2>
                <p>Saison {{ season.number }}</p>
			<p>{{ season.year }}</p>
			<p>{{ season.description }}</p>
{% for episode in episodes %}
<p>{{ episode.title }}</p>

{% endfor %}
		</div>
	</div>

{% endblock %}
