{% extends 'base.html.twig' %}
{% block title %}Season {{season.number}}
{% endblock %}
{% block body %}

	<h1>Saison -
		{{season.number}}</h1>
	{% for episode in season.episodes %}
		<div>
			<h2>{{episode.number}}-{{episode.title}}</h2>
			<p>{{episode.synopsis}}</p>
			<a href="{{path('program_episode_show',{'programSlug':program.slug,'season':season.id, 'episodeSlug':episode.slug})}}">En savoir plus</a>
		</div>
	{% endfor %}
</div>
<a href="{{ path('program_index') }}">
	Retour à la liste des programmes
</a>{% endblock %}