{% extends 'base.html.twig' %}

{% block title %}Série

{% endblock %}

{% block body %}
	{{ actor.name }}
	{% for program in actor.programs %}
		<div class="media">
			<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<div class="media-body">
				<h1 class="mt-0">{{ program.id }}/{{ program.title }}</h1>
				<p>{{ program.synopsis }}</p>
				<a href="{{ path("program_show", { 'slug': program.id }) }}">Voir la fiche</a>
			</div>
		</div>
	{% endfor %}
	<a href="{{ path('actor_index') }}">
		Retour à la liste des acteurs
	</a>
{% endblock %}